[Desktop Entry]
Encoding=UTF-8
Name=Link to Preview attachment Screenshot from 2018-04-13 15:19:09.pngScreenshot from 2018-04-13 15:19:09.png387 KB
Type=Link
URL=https://mail.google.com/mail/u/0/?ui=2&ik=d9ce6a9eb5&view=att&th=162be6a79905ae28&attid=0.1&disp=safe&realattid=f_jfxrum602&zw
Icon=text-html
